AWS_REGION=us-east-1
EB_APP_NAME=coupon-site
EB_ENV_NAME=coupon-site-prod
EB_PLATFORM=Corretto 17 running on 64bit Amazon Linux 2023
EB_INSTANCE_TYPE=t3.small
EB_SINGLE_INSTANCE=true
EB_CNAME=
EB_PROFILE=
SKIP_TESTS=true

DB_HOST=your-rds-endpoint.rds.amazonaws.com
DB_PORT=3306
DB_NAME=coupon_site
DB_USERNAME=admin
DB_PASSWORD=replace_me
